# Docker Configuration
WEB_PORT=5050

# GOG Galaxy - set the directory containing galaxy-2.0.db
# GOG_DB_PATH is automatically set in docker-compose.yml
#   macOS: /Users/Shared/GOG.com/Galaxy/Storage
#   Windows: C:/ProgramData/GOG.com/Galaxy/storage
GOG_DB_DIR=C:/ProgramData/GOG.com/Galaxy/storage
